*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.control{
    position: relative;
}
.img1{
    width: 100%;
    height: 100%;
}
.manu{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    color: rgb(6, 1, 1);
    background-color: rgba(255, 255, 255, 0.813);
    position: absolute;
    z-index: 2;
    padding: 25px;
    position: fixed;
}
.text{
    width: 130px;
    height: 50px;
    color: white;
    background-color: rgb(2, 2, 215);
    border-radius: 40px;
}
.text:hover{
    background-color: rgba(2, 2, 93, 0.772);
    transition:all 0.3s ease-in-out;
}
h3{
    position: absolute;
    left: 45px;
    top: 40px;
}
.manu h3:hover{
    border-radius: 50px;
    transition:all 0.3s ease-in-out;
    transform: scale(1.1);
}
.manu1{
    display: flex;
    position: absolute;
    left: 500px;
    top: 40px;
    gap: 40px;
    font-size: 20px;
}
.manu1 p:hover{
    transition:all 0.3s ease-in-out;
    transform: scale(1.3);
}
img{
   width: 98.8vw;
   height: auto;
   position: absolute;
   z-index: 1;
}
.try{
    color: white;
    position: absolute;
    left: 1300px;
    width: 150px;
    height: 50px;
    background-color: rgb(1, 1, 47);
    border-radius: 50px;
}
.try p{
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 15px;
}
.try p:hover{
    transition:all 0.3s ease-in-out;
    transform: scale(1.3);
}
.caption{
    color: white;
    z-index: 4;
    font-size: 80px;
    position: absolute;
    top: 400px;
    left: 50px;
}
.caption p:nth-child(2){
    font-size: 20px;
}
.other{
    width: 60%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.676);
    z-index: 3;
    position: absolute;
    top: 800px;
    left: 20%;
    border-radius: 20px;
}
.map{
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.text1{
    display: flex;
    font-size: 25px;
    position: absolute;
    left: 70px;
    top: 20px;
}
.text2{
    display: flex;
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 20px;
}
.text3{
    display: flex;
    font-size: 25px;
    position: absolute;
    left: 550px;
    top: 20px;
}
.text4{
    width: 100px;
    height: 40px;
    background-color: rgb(1, 1, 66);
    border-radius: 15px;
    position: absolute;
    left: 750px;
    top: 15px;
}
.text4 p{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}
.text4 p:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.map:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.pic1{
    width: 50px;
    height: 100px;
    background-color: black;
}
.navbar{
    width: 100%;
    height: auto;
    background-color: blue;
}