
    @import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Freehand&family=Hanuman:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Freehand&family=Hanuman:wght@100..900&family=Metal&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bayon&family=Dangrek&family=Freehand&family=Hanuman:wght@100..900&family=Metal&display=swap');
h1{
     font-family: "Freehand", cursive;
     background-color: aqua;
}
.font{
font-family: "Dangrek", sans-serif;
background-color: bisque;
}
#font2{
    font-family: "Metal", serif;
  font-weight: 1000px;
  font-style: initial;
  background-color: rgb(244, 153, 153);
}
h1,.font,#font2,.etec{
    color: blue;
    
}
.etec{
    font-family: "Bayon", sans-serif;
  font-weight: 400px;
  font-style: italic;
  background-color: rgb(191, 136, 242);
}